*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: burlywood;
}
.header{
    position:fixed;    
    background-color: black;
    padding: 40px 80px;
    width: 100%;
    display: flex;
    /* gap: 600px; */
    justify-content:space-between;
    align-items: center;
    z-index: 9999;
}
.logo{
    color: aliceblue;
}
.navigation-bar{
    /* position:absolute; */
    /* right: 300px;
    top: 20px; */
    color: aqua;
    display: inline;
}
.hero-section{
    padding-top: 300px;
    color: black;
    height: 700px;
}
.div{
    display: inline;
}
span{
    display: block;
}
.navigation-bar-items{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-direction:row-reverse;
    /* flex-direction:column; */
}
.about-section{
    background: rgb(195, 193, 193);
    height: 100vh;
    padding: 0;
}
.container{
    display: flex;
    gap: 70px;
    flex-wrap:wrap;
    /* flex-direction:column; */
    justify-content:space-between;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sub-container-1{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 13px;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* order: 3; */
}
.sub-container-2{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 13px;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* flex-grow: 1;
    order: 2; */
}
.sub-container-3{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 13px;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 10px;
    /* order: 1;
    flex-shrink: 1; */
}
.contact-link{
    text-decoration: none;
    color: aqua;
}

.contact-hero{
    width: 89.5;
    padding: 200px 80px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.contact-header{
    font-size: 80px;
    width: 600px;
}
.contact-form{
    width: 600px;
    background: white;
    border: 1px solid black;
    border-radius: 13px;
    padding: 50px;
    box-shadow: 2px 2px 10px black;
}
.input-username{
    width: 200px;
    height: 40px;
    border-radius: 7px;
    padding-left: 12px;
}
[type='text']{
    font-size: 18px;
}
input[type='text']::placeholder{
    color: rgb(150, 149, 149);
}
.form-input{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.date{
    margin-top: 40px;
    width: 400px;
}
.email{
    width: 100%;
    margin: 50px 0;
}
.phonenumber{
    margin-bottom: 50px;
}
.submit-button{
    width: 100%;
    height: 52px;
    border-radius: 32px;
    background: transparent;
    color:black;
    font-size: 20px;
    border-color: black;
    transition: 0.3s;
}
.submit-button:hover{
    background-color: black;
    color: white;
}
.card-section{
    display: flex;
    gap: 52px;
    justify-content: center;
    padding: 80px 0;
}
.card-container{
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 13px;
    transition: 0.3s;
}
.card-container:hover{
    box-shadow: 2px 2px 10px black;
    transform: scale(1.1);
}
.paragraphs{
    font-size: 20px;
}
.paragraphs:first-child{
    color: aqua;
}
.paragraphs:last-child{
    color: brown;
}
.paragraphs:nth-child(2){
    color: cadetblue;
}
.paragraphs:nth-child(5){
    color:blue;
}
.paragraphs:nth-child(4){
    color:coral;
}